<launch>
<arg name="port" default="/dev/ttyAMA0" />
	<arg name="baud" default="115200" />

	<!-- <arg name="model" default="$(find mycobot_description)/urdf/mycobot/mycobot_with_vision.urdf"/> -->
	<arg name="model" default="$(find mycobot_description)/urdf/new_320_pi/new_mycobot_vision_v2.urdf"/>
	<arg name="rvizconfig" default="$(find aikit_320_pi)/config/aikit_320_pi.rviz" />
	<!-- <arg name="gui" default="false" /> -->

	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

	<!-- Combinejoin values to TF -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
		<rosparam param="source_list" subst_value="true">["joint_states"]</rosparam>
	</node>

	<!-- mycobot-topics -->
    <include file="$(find mycobot_320_communication)/launch/communication_topic_pi.launch">
		<arg name="port" value="$(arg port)" />	
		<arg name="baud" value="$(arg baud)" />	
    </include>

    <!-- listen and pub the real angles -->
	<node name="real_listener" pkg="new_mycobot_320_pi" type="mycobot_320_listen_real_of_topic.py" />

	<!-- Show in Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>
