<launch>
	<!-- Select connecting device and serial port ，选择连接设备及串口-->
	<arg name="port" default="/dev/ttyAMA0" />
	<arg name="baud" default="115200" />
	<!-- Load file model ，加载文件模型-->
	<arg name="model" default="$(find mycobot_description)/urdf/mycobot/mycobot_urdf.urdf"/>
	<arg name="rvizconfig" default="$(find mycobot_280)/config/mycobot_with_marker.rviz" />
	<arg name="gui" default="false" />

	<arg name="num" default="0" />

	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

	<!-- Combinejoin values to TF ，将值合并到TF-->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	<!-- Show in Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

	<!-- mycobot-topics ，mycobot-话题-->
    <include file="$(find mycobot_communication)/launch/communication_topic.launch">
		<arg name="port" value="$(arg port)" />	
		<arg name="baud" value="$(arg baud)" />	
    </include>
	<!-- listen and pub the real angles ，监听并发布真实的角度-->
	<node name="real_listener" pkg="mycobot_280" type="listen_real_of_topic.py" />
	<!-- vision node -->
	<node name="opencv_camera" pkg="mycobot_280" type="opencv_camera" args="$(arg num)"/>
	<node name="detect_marker" pkg="mycobot_280" type="detect_marker.py" />
	<node name="following_marker" pkg="mycobot_280" type="following_marker.py" />
</launch>
