<launch>
	<!-- Select connecting device and serial port ，选择连接设备及串口-->
	<arg name="port" default="/dev/ttyAMA0" />
	<arg name="baud" default="1000000" />

	<!-- Open communication service ，开启通讯服务-->
	<node name="mycobot_services" pkg="mycobot_communication" type="mycobot_services.py" output="screen">
		<param name="port" type="string" value="$(arg port)" />
		<param name="baud" type="int" value="$(arg baud)" />
    </node>
</launch>
