<launch>
	<arg name="paused" default="false"/>
    <arg name="gazebo_gui" default="true"/>
	<!-- Load URDF file,加载URDF文件 -->
	<arg name="model" default="$(find mycot_moveit)/config/mycobot_280m5_with_gripper_lll.urdf"/>
	<!-- <arg name="rvizconfig" default="$(find mycobot_280)/config/mycobot.rviz" /> -->

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" default="worlds/empty.world"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="gui" value="$(arg gazebo_gui)"/>
    </include>

	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
	<!-- Combinejoin values to TF ，将值合并到TF-->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
		<rosparam param="source_list" subst_value="true">["joint_states"]</rosparam>
	</node>
	<!-- show in Rviza,显示在Rviz -->
	<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> -->
	<node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -x 0 -y 0 -z 0"
        respawn="false" output="screen" />

    <include file="$(find mycot_moveit)/launch/ros_controllers.launch"/>
</launch>
