<launch>
	<!-- Load URDF file -->
	<arg name="model" default="$(find mycobot_description)/urdf/mycobot_pro_450/mycobot_pro_450.urdf"/>
	<arg name="rvizconfig" default="$(find mycobot_pro_450)/config/mycobot_pro_450.rviz" />

	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
	<!-- Combinejoin values to TF-->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
		<rosparam param="source_list" subst_value="true">["joint_states"]</rosparam>
	</node>
	<!-- show in Rviza -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>
