<launch>
	<arg name="model" default="$(find mycobot_description)/urdf/320_urdf/mycobot.urdf.xacro"/>
	<arg name="rvizconfig" default="$(find mycobot_320)/config/mycobot_320.rviz" />
	<arg name="gui" default="true" />

    <include file="$(find mycobot_280)/launch/slider_control.launch">
		<arg name="model" value="$(arg model)" />
		<arg name="rvizconfig" value="$(arg rvizconfig)" />
		<arg name="gui" value="$(arg gui)" />
    </include>
</launch>
