<launch>
	<!-- Select connecting device and serial port ，选择连接设备及串口-->
	<arg name="port" default="/dev/ttyUSB0" />
	<arg name="baud" default="115200" />
	<!-- Load file model ，加载文件模型-->
	<arg name="model" default="$(find mycobot_description)/urdf/ultraArm_urdf/ultraArm.urdf"/>
	<arg name="rvizconfig" default="$(find ultraarm)/config/ultraArm.rviz" />
	<arg name="gui" default="false" />

	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

	<!-- Combinejoin values to TF，将值合并到 TF-->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	<!-- Show in Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
	<!-- mycobot-topics, mycobot-话题-->
    <include file="$(find ultraarm_communication)/launch/communication_service.launch">
		<arg name="port" value="$(arg port)" />	
		<arg name="baud" value="$(arg baud)" />	
    </include>
	<!-- listen and pub the real angles ，监听并发布真实角度-->
	<node name="real_listener" pkg="ultraarm" type="listen_real.py" />
	<node name="simple_gui" pkg="ultraarm" type="simple_gui.py" />
</launch>
