<?xml version="1.0"?>
<launch>


	<!-- urdf文件，模型文件的路径-->
	<arg name="firefighter" default="$(find mycobot_description)/urdf/mycobot_pi/mycobot_urdf.urdf"/>
	
	
	
	<arg name="gui" default="False" />
	<param name="robot_description" textfile="$(arg model)" />
	<param name="use_gui" value="$(arg gui)"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	
	
	
	
	<!-- Show in Rviz-->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find urdf_tutorial)/urdf.rviz" />
</launch>
