<launch>
	<arg name="model" default="$(find mycobot_description)/urdf/MercuryB3/MercuryB3.urdf"/>
	<arg name="rvizconfig" default="$(find mercuryB3)/config/mercuryB3.rviz" />
	<arg name="gui" default="true" />

	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

	<!-- Combinejoin values to TF -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	<!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /> -->

	<!-- Show in Rviz ，显示在Rviz-->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
	<!-- <node name="rviz" pkg="rviz" type="rviz" /> -->
</launch>
