<launch>
	<arg name="port" default="/dev/ttyUSB0" />
	<arg name="baud" default="115200" />

	<arg name="model" default="$(find mycobot_description)/urdf/ultraArm_urdf/ultraArm_aikit.urdf"/>
	<arg name="rvizconfig" default="$(find ultraarm)/config/ultraArm.rviz" />
	<!-- <arg name="gui" default="false" /> -->

	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

	<!-- Combinejoin values to TF -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
		<rosparam param="source_list" subst_value="true">["joint_states"]</rosparam>
	</node>

	<!-- mypalletizer-topics -->
    <include file="$(find ultraarm_communication)/launch/communication_topic.launch">
		<arg name="port" value="$(arg port)" />	
		<arg name="baud" value="$(arg baud)" />	
    </include>

    <!-- listen and pub the real angles -->
	<node name="real_listener" pkg="ultraarm" type="listen_real_of_topic.py" />

	<!-- Show in Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>
