<launch>
	<arg name="port" default="/dev/ttyACM0" />
	<arg name="baud" default="115200" />

	<arg name="model" default="$(find mycobot_description)/urdf/280_arduino/mycobot_arduino.urdf"/>
	<arg name="rvizconfig" default="$(find mycobot_280arduino)/config/mycobot_arduino.rviz" />
	<arg name="gui" default="false" />

	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

	<!-- Combinejoin values to TF -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	<!-- Show in Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

    <include file="$(find mycobot_communication)/launch/communication_service.launch">
		<arg name="port" value="$(arg port)" />	
		<arg name="baud" value="$(arg baud)" />	
    </include>
	<node name="real_listener" pkg="mycobot_280arduino" type="listen_real.py" />
</launch>
