<launch>
	<arg name="model" default="$(find mycobot_description)/urdf/320_urdf/mycobot_pro_320.urdf"/>
	<arg name="rvizconfig" default="$(find mycobot_320)/config/mycobot_320_with_marker.rviz" />
	<arg name="gui" default="true" />

	<arg name="num" default="0" />

    <include file="$(find mycobot_320)/launch/mycobot_320_slider.launch">
		<arg name="model" value="$(arg model)" />
		<arg name="rvizconfig" value="$(arg rvizconfig)" />
		<arg name="gui" value="$(arg gui)" />
    </include>
	<node name="opencv_camera" pkg="mycobot_320" type="opencv_camera" args="$(arg num)"/>
	<node name="detect_marker" pkg="mycobot_320" type="mycobot_320_detect_marker.py" />
	<node name="following_marker" pkg="mycobot_320" type="mycobot_320_following_marker.py" />
</launch>
