<launch>
	<arg name="PORT" default="/dev/ttyUSB0" />
	<arg name="BAUD" default="115200" />

	<!-- Open communication service -->
	<node name="mycobot_services" pkg="myCobotROS" type="mycobot_ros.py">
		<param name="port" type="string" value="$(arg PORT)" />	
		<param name="baud" type="int" value="$(arg BAUD)" />	
    </node> 
</launch>
