<launch>
	<arg name="model" default="$(find myCobotROS)/urdf/mycobot_urdf.urdf"/>
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"> 
		<param name="use_gui" value="true"/>	
	</node>

</launch>
