<launch>
	<arg name="PORT" default="/dev/ttyUSB0" />
	<arg name="BAUD" default="115200" />

	<arg name="model" default="$(find mycobot_ros)/urdf/mycobot_urdf.urdf"/>
	<arg name="rvizconfig" default="$(find mycobot_ros)/config/mycobot.rviz" />
	<arg name="gui" default="false" />

	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

	<!-- Combinejoin values to TF -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<!-- Show in Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

    <include file="$(find mycobot_ros)/launch/communication_service.launch">
		<arg name="PORT" value="$(arg PORT)" />	
		<arg name="BAUD" value="$(arg BAUD)" />	
    </include>
	<node name="real_listener" pkg="mycobot_ros" type="listen_real.py" />
</launch>
