<?xml version="1.0"?>
<robot  xmlns:xacro="http://www.ros.org/wiki/xacro" name="firefighter" >
	
<xacro:property name="width" value=".2" />


  <link name="base">
    <visual>
      <geometry>
       <mesh filename="package://mycobot_description/urdf/ultraArm_p1/base.dae"/>
      </geometry>
      <origin xyz = " 0.01 0.09 0.0 " rpy = " 1.5708 0 0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://mycobot_description/urdf/ultraArm_p1/base.dae"/>
      </geometry>
      <origin xyz = " 0.01 0.09 0.0 " rpy = " 1.5708 0 0"/>
    </collision>

  </link>

  <link name="joint1_link1">
    <visual>
      <geometry>
       <mesh filename="package://mycobot_description/urdf/ultraArm_p1/Joint1.dae"/>
      </geometry>
      <origin xyz = "-0.06 -0.09 0.122 " rpy = " -1.5708 0 0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://mycobot_description/urdf/ultraArm_p1/Joint1.dae"/>
      </geometry>
      <origin xyz = "-0.06 -0.09 0.122 " rpy = " -1.5708 0 0"/>
    </collision>
  </link>

  <link name="link1">
    <visual>
      <geometry>    
       <mesh filename="package://mycobot_description/urdf/ultraArm_p1/LINK1.dae"/>
      </geometry>
      <origin xyz = "-0.015  0.15 0.087  " rpy = " 3.14159 0 0"/>
    </visual>
    <collision>
      <geometry>    
       <mesh filename="package://mycobot_description/urdf/ultraArm_p1/LINK1.dae"/>
      </geometry>
      <origin xyz = "-0.015  0.15 0.086  " rpy = " 3.14159 0 0"/>
    </collision>   

  </link>

  <link name="link2">
    <visual>
      <geometry>    
       <mesh filename="package://mycobot_description/urdf/ultraArm_p1/LINK2.dae"/>
      </geometry>
      <origin xyz = "0.0135  0.174 0.086  " rpy = " 3.14159 0 0"/>
    </visual>
    <collision>
      <geometry>    
       <mesh filename="package://mycobot_description/urdf/ultraArm_p1/LINK2.dae"/>
      </geometry>
      <origin xyz = "-0.015  0.15 0.086  " rpy = " 3.14159 0 0"/>
    </collision>   

  </link>

  <link name="link3">
    <visual>
      <geometry>    
       <mesh filename="package://mycobot_description/urdf/ultraArm_p1/LINK3.dae"/>
      </geometry>
      <origin xyz = "-0.015  0.15 0.086  " rpy = " 3.14159 0 0"/>
    </visual>
    <collision>
      <geometry>    
       <mesh filename="package://mycobot_description/urdf/ultraArm_p1/LINK3.dae"/>
      </geometry>
      <origin xyz = "-0.015  0.15 0.086  " rpy = " 3.14159 0 0"/>
    </collision>   

  </link>

  <link name="link4">
    <visual>
      <geometry>    
       <mesh filename="package://mycobot_description/urdf/ultraArm_p1/LINK4.dae"/>
      </geometry>
      <origin xyz = "0.02  0.15 0.086  " rpy = " 3.14159 0 0"/>
    </visual>
    <collision>
      <geometry>    
       <mesh filename="package://mycobot_description/urdf/ultraArm_p1/LINK4.dae"/>
      </geometry>
      <origin xyz = "-0.015  0.15 0.086  " rpy = " 3.14159 0 0"/>
    </collision>   

  </link>

  <link name="link5">
    <visual>
      <geometry>
       <mesh filename="package://mycobot_description/urdf/ultraArm_p1/LINK7.dae"/>
      </geometry>
      <origin xyz = "0.02 0.29  0.086 " rpy = "3.14159 0 0"/>
    </visual>
    <collision>
      <geometry>
       <mesh filename="package://mycobot_description/urdf/ultraArm_p1/LINK7.dae"/>
      </geometry>
      <origin xyz = "-0.033 0.314  0.086 " rpy = "3.14159 0 0"/>
    </collision>
  </link>

  <link name="link6">
    <visual>
      <geometry>
       <mesh filename="package://mycobot_description/urdf/ultraArm_p1/LINK5.dae"/>
      </geometry>
      <origin xyz = "-0.009 0.29  0.086 " rpy = "3.14159 0 0"/>
    </visual>
    <collision>
      <geometry>
       <mesh filename="package://mycobot_description/urdf/ultraArm_p1/LINK5.dae"/>
      </geometry>
      <origin xyz = "-0.033 0.314  0.086 " rpy = "3.14159 0 0"/>
    </collision>
  </link>

  <link name="link7">
    <visual>
      <geometry>
       <mesh filename="package://mycobot_description/urdf/ultraArm_p1/LINK6.dae"/>
      </geometry>
      <origin xyz = "-0.0345 0.315  0.086 " rpy = "3.14159 0 0"/>
    </visual>
    <collision>
      <geometry>
       <mesh filename="package://mycobot_description/urdf/ultraArm_p1/LINK6.dae"/>
      </geometry>
      <origin xyz = "-0.033 0.314  0.086 " rpy = "3.14159 0 0"/>
    </collision>
  </link>

  <link name="link8">
    <visual>
      <geometry>
       <mesh filename="package://mycobot_description/urdf/ultraArm_p1/LINK8.dae"/>
      </geometry>
      <origin xyz = "-0.175 0.315 0.088 " rpy = "3.14159 0 0"/>
    </visual>
    <collision>
      <geometry>
       <mesh filename="package://mycobot_description/urdf/ultraArm_p1/LINK8.dae"/>
      </geometry>
      <origin xyz = "-0.211 0.088  -0.254 " rpy = "1.5708 0 0"/>
    </collision>
  </link>

  <link name="link9">
    <visual>
      <geometry>
       <mesh filename="package://mycobot_description/urdf/ultraArm_p1/LINK9.dae"/>
      </geometry>
      <origin xyz = "-0.211 0.088  -0.254 " rpy = "1.5708 0 0"/>
    </visual>
    <collision>
      <geometry>
       <mesh filename="package://mycobot_description/urdf/ultraArm_p1/LINK9.dae"/>
      </geometry>
      <origin xyz = "-0.211 0.088  -0.254 " rpy = "1.5708 0 0"/>
    </collision>
  </link>

  <joint name="joint1" type="revolute">
    <axis xyz="0 0 -1"/>
    <limit effort = "1000.0" lower = "-2.7925" upper = "2.7925" velocity = "0"/>
    <parent link="base"/>
    <child link="joint1_link1"/>
    <origin xyz= "0 0 0.12" rpy = "3.1415926 0 0"/>  
  </joint>

  <joint name="joint2" type="revolute">
    <axis xyz="0 0 1"/>
    <limit effort = "1000.0" lower = "0" upper = "0.8726" velocity = "0"/>
    <parent link="joint1_link1"/>
    <child link="link1"/>
    <origin xyz= "0.026 -0.003 -0.028" rpy = " 1.5708 0 0 "/>  
  </joint>

  <joint name="link2_to_joint1" type="revolute">
    <axis xyz="0 0 1"/>
    <limit effort = "1000.0" lower = "0" upper = "0.8726" velocity = "0"/>
    <parent link="joint1_link1"/>
    <child link="link2"/>
    <origin xyz= "0.001 -0.003 -0.052" rpy = " 1.5708 0 0 "/>  
    <mimic joint="joint2" multiplier="1.0" offset="0.0"/>
  </joint>

  <joint name="link3_to_link1" type="fixed">
    <!-- <axis xyz="0 0 1"/> -->
    <limit effort = "1000.0" lower = "0" upper = "0.8726" velocity = "0"/>
    <parent link="link1"/>
    <child link="link3"/>
    <origin xyz= "0.0 0.0 0.002" rpy = " 0 0 0 "/>
  </joint>

  <joint name="link4_to_link3" type="fixed">
    <!-- <axis xyz="0 0 1"/> -->
    <limit effort = "1000.0" lower = "0" upper = "0.8726" velocity = "0"/>
    <parent link="link3"/>
    <child link="link4"/>
    <origin xyz= "-0.035 0.0 0.00" rpy = " 0 0 0 "/> 
  </joint>

  <joint name="link5_to_link4" type="revolute">
    <axis xyz=" 0 0 1"/>
    <limit effort = "1000.0" lower = "0" upper = "1.9198" velocity = "0"/>
    <parent link="link4"/>
    <child link="link5"/>
    <origin xyz= "0.0 -0.14 0   " rpy = "0 0 0 "/> 
    <mimic joint="joint2" multiplier="-1.0" offset="0.0"/> 
    <!-- <mimic joint="link6_to_link5" multiplier="-1.0" offset="0.0"/>  -->
  </joint>

  <joint name="joint3" type="revolute">
    <axis xyz=" 0 0 1"/>
    <limit effort = "1000.0" lower = "0" upper = "0.5235" velocity = "0"/>
    <parent link="link5"/>
    <child link="link6"/>
    <origin xyz= "0.029 0 0   " rpy = "0 0 0 "/>  
  </joint>

  <joint name="link7_to_link6" type="revolute">
    <axis xyz=" 0 0 1"/>
    <limit effort = "1000.0" lower = "0" upper = "1.9198" velocity = "0"/>
    <parent link="link6"/>
    <child link="link7"/>
    <origin xyz= "0.025 -0.025 0   " rpy = "0 0 0 "/>  
    <mimic joint="joint3" multiplier="1.0" offset="0.0"/>
  </joint>

  <joint name="link8_to_link7" type="revolute">
    <axis xyz=" 0 0 1"/>
    <limit effort = "1000.0" lower = "-6.2831" upper = "6.2831" velocity = "0"/>
    <parent link="link7"/>
    <child link="link8"/>
    <origin xyz= "0.14 0.002 -0.002   " rpy = "0 0 0 "/>  
    <mimic joint="link7_to_link6" multiplier="-2.0" offset="0"/> 
  </joint>

  <joint name="joint4" type="revolute">
    <axis xyz=" 0 0 1"/>
    <limit effort = "1000.0" lower = "-6.2831" upper = "6.2831" velocity = "0"/>
    <parent link="link8"/>
    <child link="link9"/>
    <origin xyz= "0.035 0.06 -0.00   " rpy = "1.5708 0 0 "/>
  </joint>
</robot>