<?xml version="1.0"?>
<robot  xmlns:xacro="http://www.ros.org/wiki/xacro" name="firefighter" >
	
<xacro:property name="width" value=".2" />


  <link name="base">
    <visual>
      <geometry>
       <mesh filename="package://mycobot_description/urdf/ultraArm_p1/ultraArmP1_static.dae"/>
      </geometry>
      <origin xyz = " -0.09 0.09 0.0 " rpy = " 1.5708 0 0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://mycobot_description/urdf/ultraArm_p1/ultraArmP1_static.dae"/>
      </geometry>
      <origin xyz = " -0.09 0.09 0.0 " rpy = " 1.5708 0 0"/>
    </collision>

  </link>


  <!-- <joint name="joint3_to_joint2" type="revolute">
    <axis xyz=" 0 0 1"/>
    <limit effort = "1000.0" lower = "-0.0872" upper = "1.9198" velocity = "0"/>
    <parent link="link2"/>
    <child link="link3"/>
    <origin xyz= "0.00 -0.12 0   " rpy = "0 0 0 "/>  
  </joint> -->

</robot>