<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="firefighter">
  <link name="world"/>
  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.000234552487018738 -0.00767112263858946 0.0432868616459074"
        rpy="0 0 0" />
      <mass
        value="0.435296505947694" />
      <inertia
        ixx="0.00112550875496297"
        ixy="3.22445189577691E-06"
        ixz="-3.46337156728296E-06"
        iyy="0.000992900095204562"
        iyz="-6.49894300878283E-06"
        izz="0.00186768274374626" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="J1_Link">
    <inertial>
      <origin
        xyz="0.000626155020449478 0.00200962243655586 0.063324060670793"
        rpy="0 0 0" />
      <mass
        value="0.390185141585949" />
      <inertia
        ixx="0.00101930778681514"
        ixy="4.50230097503923E-07"
        ixz="1.42862416859721E-06"
        iyy="0.000474725690830821"
        iyz="-3.06934069633223E-05"
        izz="0.000708307792359435" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/J1_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/J1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J1"
    type="revolute">
    <origin
      xyz="-0.000100404778856366 0 0.0859999999999997"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="J1_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.87"
      upper="2.87"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="J2_Link">
    <inertial>
      <origin
        xyz="-0.0156461678871911 0.00107285613131287 0.063043860223879"
        rpy="0 0 0" />
      <mass
        value="0.0395822221402214" />
      <inertia
        ixx="5.94205560035595E-05"
        ixy="-2.49445692973498E-09"
        ixz="2.76622611183092E-07"
        iyy="6.2875014734691E-05"
        iyz="4.58330550335126E-07"
        izz="6.265370704591E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/J2_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/J2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J2"
    type="revolute">
    <origin
      xyz="0.0161 0.02286 0.079544"
      rpy="0 0 0" />
    <parent
      link="J1_Link" />
    <child
      link="J2_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-0.31"
      upper="1.48"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="center_Link">
    <inertial>
      <origin
        xyz="-0.0187897457227529 0.00101906185373477 0.0173619334463731"
        rpy="0 0 0" />
      <mass
        value="0.0349898434561973" />
      <inertia
        ixx="1.00794527545181E-05"
        ixy="-2.29801312148124E-08"
        ixz="-4.41482975191739E-08"
        iyy="4.41206249735219E-06"
        iyz="-7.83827014397297E-08"
        izz="6.86634338244991E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/center_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/center_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="center"
    type="revolute">
    <origin
      xyz="0.00335 -0.00036008 0.14036"
      rpy="0 0 0" />
    <parent
      link="J2_Link" />
    <child
      link="center_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.48"
      upper="0.31"
      effort="0"
      velocity="0" />
    <mimic
      joint="J2"
      multiplier="-1"
      offset="0" />
  </joint>
  <link
    name="CENTER_V_2_Link">
    <inertial>
      <origin
        xyz="-0.0190007063693137 0.0719740266811395 -0.00134149418125751"
        rpy="0 0 0" />
      <mass
        value="0.0558803270642906" />
      <inertia
        ixx="8.64437583518047E-05"
        ixy="-2.41184661708621E-11"
        ixz="7.22346955756058E-12"
        iyy="2.60440960786068E-05"
        iyz="5.17646386283779E-07"
        izz="0.000103397929789029" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/CENTER_V_2_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/CENTER_V_2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="CENTER_V_2"
    type="revolute">
    <origin
      xyz="0.00015 0.025 0.025"
      rpy="0 0 0" />
    <parent
      link="center_Link" />
    <child
      link="CENTER_V_2_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-0.017"
      upper="1.91"
      effort="0"
      velocity="0" />
	<mimic
      joint="J3"
      multiplier="1"
      offset="0" />
  </joint>
  <link
    name="J3_4_Link">
    <inertial>
      <origin
        xyz="0.00900000000001357 1.18238752122579E-14 -4.27435864480685E-15"
        rpy="0 0 0" />
      <mass
        value="0.000117809724509617" />
      <inertia
        ixx="3.68155389092554E-10"
        ixy="3.25459245780133E-24"
        ixz="-1.22383338348049E-25"
        iyy="5.37506868075128E-10"
        iyz="3.63507105125485E-27"
        izz="5.37506868075128E-10" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/J3_4_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/J3_4_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J3_4"
    type="revolute">
    <origin
      xyz="0.001 0.14 0"
      rpy="0 0 0" />
    <parent
      link="CENTER_V_2_Link" />
    <child
      link="J3_4_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.91"
      upper="0.017"
      effort="0"
      velocity="0" />
    <mimic
      joint="J3"
      multiplier="-1"
      offset="0" />
  </joint>
  <link
    name="J3_Link">
    <inertial>
      <origin
        xyz="-0.0044082736506423 0.0656069911035359 -0.00105913016709042"
        rpy="0 0 0" />
      <mass
        value="0.0238706707614233" />
      <inertia
        ixx="6.05667224596182E-05"
        ixy="1.93806457455325E-07"
        ixz="-6.01435887437457E-09"
        iyy="1.50491175718531E-06"
        iyz="8.94444640529844E-07"
        izz="6.06453490273104E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/J3_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.913725490196078 0.925490196078431 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/J3_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J3"
    type="revolute">
    <origin
      xyz="-0.01485 0 0"
      rpy="0 0 0" />
    <parent
      link="center_Link" />
    <child
      link="J3_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-0.017"
      upper="1.91"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="J3_5_Link">
    <inertial>
      <origin
        xyz="-0.00949681573507397 0.0373495117701189 -0.00650863029516446"
        rpy="0 0 0" />
      <mass
        value="0.0663947658214263" />
      <inertia
        ixx="3.81782816371151E-05"
        ixy="5.23598175713856E-09"
        ixz="7.53105958710685E-09"
        iyy="3.10268434305983E-05"
        iyz="5.17559604102817E-06"
        izz="3.08894690696647E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/J3_5_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/J3_5_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J3_5"
    type="revolute">
    <origin
      xyz="0.0055 0.14 0"
      rpy="0 0 0" />
    <parent
      link="J3_Link" />
    <child
      link="J3_5_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.91"
      upper="0.017"
      effort="0"
      velocity="0" />
    <mimic
      joint="J3"
      multiplier="-1"
      offset="0" />
  </joint>
  <link
    name="J4_Link">
    <inertial>
      <origin
        xyz="1.86348434675043E-05 -2.22745078254372E-06 -0.00910170499041335"
        rpy="0 0 0" />
      <mass
        value="0.00948835945053853" />
      <inertia
        ixx="8.40099075841365E-07"
        ixy="-8.29529987817867E-13"
        ixz="5.92018979492285E-10"
        iyy="9.61998027723115E-07"
        iyz="-1.37987865064839E-12"
        izz="1.57063877104609E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/J4_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/J4_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J4"
    type="revolute">
    <origin
      xyz="-0.00950000000000579 0.0609999386572151 -0.0305000950662462"
      rpy="0 0 0" />
    <parent
      link="J3_5_Link" />
    <child
      link="J4_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.12"
      upper="3.12"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="FIX2_Link">
    <inertial>
      <origin
        xyz="0.00900000000001357 1.18238752122579E-14 -4.27435864480685E-15"
        rpy="0 0 0" />
      <mass
        value="0.000117809724509617" />
      <inertia
        ixx="3.68155389092554E-10"
        ixy="3.25459245780133E-24"
        ixz="-1.22383338348049E-25"
        iyy="5.37506868075128E-10"
        iyz="3.63507105125485E-27"
        izz="5.37506868075128E-10" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/FIX2_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/FIX2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FIX2"
    type="fixed">
    <origin
      xyz="0.0104999999999947 0.025000000023119 0.0249999447386166"
      rpy="0 0 0" />
    <parent
      link="J3_5_Link" />
    <child
      link="FIX2_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="fix1_Link">
    <inertial>
      <origin
        xyz="0.00999999999999317 8.42008754387003E-14 7.21644966006352E-15"
        rpy="0 0 0" />
      <mass
        value="0.000117809724509617" />
      <inertia
        ixx="3.68155389092554E-10"
        ixy="2.80206665992541E-24"
        ixz="-9.04261470380209E-26"
        iyy="5.37506868075128E-10"
        iyz="-3.20694046077688E-26"
        izz="5.37506868075128E-10" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/fix1_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/fix1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fix1"
    type="fixed">
    <origin
      xyz="0.000149999999997076 -0.0250000000000165 0.0249999999999976"
      rpy="0 0 0" />
    <parent
      link="center_Link" />
    <child
      link="fix1_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="J2_2_Link">
    <inertial>
      <origin
        xyz="-0.0239539648841618 -0.00726185200873119 0.0695590214423053"
        rpy="0 0 0" />
      <mass
        value="0.0673595203554836" />
      <inertia
        ixx="0.000129740052898126"
        ixy="-1.35166800943009E-08"
        ixz="6.29768526602604E-08"
        iyy="0.000141302345810843"
        iyz="-5.51018113079718E-06"
        izz="4.05085498723547E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/J2_2_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/J2_2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J2_2"
    type="revolute">
    <origin
      xyz="0.0241 -0.0025 0.1049"
      rpy="0 0 0" />
    <parent
      link="J1_Link" />
    <child
      link="J2_2_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-0.31"
      upper="1.48"
      effort="0"
      velocity="0" />
    <mimic
      joint="J2"
      multiplier="1"
      offset="0" />
  </joint>
  <link
    name="center_v_1_Link">
    <inertial>
      <origin
        xyz="0.00999999999999317 8.42008754387003E-14 7.21644966006352E-15"
        rpy="0 0 0" />
      <mass
        value="0.000117809724509617" />
      <inertia
        ixx="3.68155389092554E-10"
        ixy="2.80206665992541E-24"
        ixz="-9.04261470380209E-26"
        iyy="5.37506868075128E-10"
        iyz="-3.20694046077688E-26"
        izz="5.37506868075128E-10" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/center_v_1_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mycobot_description/urdf/ultraArm_p1/center_v_1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="center_v_1"
    type="revolute">
    <origin
      xyz="-0.0045 0 0.14"
      rpy="0 0 0" />
    <parent
      link="J2_2_Link" />
    <child
      link="center_v_1_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.48"
      upper="0.31"
      effort="0"
      velocity="0" />
    <mimic
      joint="J2"
      multiplier="-1"
      offset="0" />
  </joint>
</robot>
