<launch>
	<arg name="port" default="/dev/ttyACM0" />
	<arg name="baud" default="115200" />

	<!-- Open communication service -->
	<!-- <node name="mycobot_services" pkg="mycobot_communication" type="mycobot_topics.py" output="screen"> -->
	<node name="mybuddy_services" pkg="mybuddy_communication" type="mybuddy_topics.py" output="screen">
	
		<param name="port" type="string" value="$(arg port)" />
		<param name="baud" type="int" value="$(arg baud)" />
    </node>
</launch>
