<launch>
	<!-- Select connecting device and serial port ，选择连接设备及串口-->
	<arg name="port" default="/dev/ttyUSB0" />
	<arg name="baud" default="115200" />

	<!-- <arg name="model" default="$(find mycobot_description)/urdf/mycobot/mycobot_urdf.urdf"/> -->
	<!-- <arg name="model" default="$(find mycobot_description)/urdf/mycobot/mycobot_with_gripper_up.urdf"/> -->
	<arg name="model" default="$(find mycobot_description)/urdf/mycobot/mycobot_with_gripper_parallel.urdf"/>
	<arg name="rvizconfig" default="$(find mycobot_280)/config/mycobot.rviz" />
	<arg name="gui" default="false" />

	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

	<!-- Combinejoin values to TF ,将值合并到TF-->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	<!-- Show in Rviz ，显示在Rviz-->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

    <include file="$(find mycobot_communication)/launch/communication_service.launch">
		<arg name="port" value="$(arg port)" />	
		<arg name="baud" value="$(arg baud)" />	
    </include>
	<node name="real_listener" pkg="mycobot_280" type="listen_real.py" />
	<node name="simple_gui" pkg="mycobot_280" type="simple_gui.py" />
</launch>
